<h1><%= get_name(@team) %> Details</h1>

<h2>Team Members</h2>
<table>
  <tr>
    <td>Name</td>
  </tr>
  <%= for runner <- @runners do %>
    <tr>
      <td><%= get_runner_name(runner) %></td>
    </tr>
  <% end %>
</table>