<h1>Race Results</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Team</td>
    <td>Time</td>
    <td>Rating</td>
  </tr>
  <%= for result <- @results do %>
    <tr>
      <td><%= get_runner_name(result.runner_id) %></td>
      <td><%= get_runner_team(result.runner_id) %></td>
      <td><%= result.time %></td>
      <td><%= result.rating %></td>
    </tr>
  <% end %>
</table>