<h1>Listing Runners</h1>

<table>
  <tr>
    <td>Runner</td>
    <td>Year</td>
    <td>Team</td>
    <td>Link</td>
  </tr>

  <%= for runner <- @runners do %>
    <tr>
      <td><b><%= get_name(runner) %></b></td>
      <td><%= runner.year %></td>
      <td><%= runner.team.name %></td>
      <td><%= link "View", to: Routes.runner_path(@conn, :show, runner.id) %></td>
    </tr>
  <% end %>
</table>